doctype html
//-{% from "_util.html" import google_analytics with context %}
html(lang='en')
  include includes/head
  {% block optional_head %}{% endblock %}
  body.app
    div.wrapper
      include includes/navigation.jade

      div.banner
        div.container
          include messages.html
          {% block banner %}{% endblock %}

      div.banner(id='disclaimer')
        div.container
          div.alert-success(style="height: 80px; margin-bottom: 25px")
            span.glyphicon.glyphicon-ok-sign
              &nbsp;
            button.close(
              type="button"
              data-dismiss="alert"
              aria-hidden="true"
              onclick="document.getElementById('disclaimer').remove()"
            ) X
            h5(style='text-align:center') FIND is still in the early stages of development. If you see any bugs or data errors while using the site, please share them with us using our feedback form on the right.
            br
              
      .container-full.content-body
        {% block content %}{% endblock %}

                          
      include includes/footer.jade
      
      {% block footer_scripts %}{% endblock %}

      {% include "feedback/_feedback_part.jade" with context%}

      script(type='text/javascript')
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-42151027-6', 'auto');
        ga('send', 'pageview');

      //-script(id='_fed_an_ua_tag' src='static/find-ui/dist/app/js/UniversalFederated-Analytics.1.0.js?agency=DOS')


